<div class="row">
  <div class="col">
    <h3>Cargando...</h3>
    <p><ngb-progressbar showValue="true" [value]='porcentaje1'></ngb-progressbar></p>
    <p><ngb-progressbar showValue="true" [value]='porcentaje2' type="success"></ngb-progressbar></p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <app-load-bar leyenda="Azul" [porcentaje]="porcentaje1" (cambioPorcentaje)="porcentaje1 = $event"></app-load-bar>
  </div>
  <div class="col-md-6">
    <app-load-bar leyenda="Verde" [porcentaje]="porcentaje2" (cambioPorcentaje)="porcentaje2 = $event"></app-load-bar>
  </div>
</div>
