<div class="row">
  <div class="col-md-6">
    <div class="card card-body">
      <h3 class="box-title m-b-0">Medico: {{medico.nombre}}</h3>
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <form #f="ngForm" NgNativeValidate (ngSubmit)="guardar(f)">
            <div class="form-group">
              <label>User Name</label>
              <input [(ngModel)]="medico.nombre" name="nombre" class="form-control" placeholder="Nombre" type="text" required>
            </div>

            <div class="form-group">
              <label>Hospitales</label>
              <select (change)="cambioHospital($event.target.value)" [(ngModel)]="medico.hospital._id" name="hospital"  class="form-control" required>
                <option [value]="undefined">Seleccione Hospital</option>
                <option *ngFor="let hospital of hospitales" [value]="hospital._id">
                  {{hospital.nombre}}
                </option>
              </select>
            </div>

            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Guardar Cambios</button>
            <button routerLink="/medicos" type="submit" class="btn btn-inverse waves-effect waves-light">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3" *ngIf="medico.hospital._id">
    <div class="card card-body">
      <h3 class="box-title m-b-0">{{medico.hospital.nombre}}</h3>
        <img  class="img-fluid" [src]="medico.hospital.img | imagen:'hospital'">
    </div>
  </div>

  <div class="col-md-3" *ngIf="medico._id">
    <div class="card card-body">
      <h3 class="box-title m-b-0">Imagen</h3>
      <img (click)="cambiarFotografia()" [src]="medico.img | imagen:'medico'" class="img-fluid pointer">
    </div>
  </div>

</div>
